<!DOCTYPE html>
<html>
  <head>
    <title>Yet Another (personal) Financial Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>YAFA</h1>
    <p>Hello world!</p>
  </body>
</html>
